{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Tableau de bord (profile)
</h1>

<div class="card-image has-text-centered">
    <img style="width: 40%; height: auto" src="{{ url_for('static', filename=nextCharacter.profile) }}">
</div>
<h1 class="subtitle">
    Tu doit battre {{ nextCharacter.cleanName }} !
</h1>

<div class="buttons is-centered">
    <button class="button is-success">Victoire</button>
    <button class="button is-danger">Défaite</button>
</div>

<h1 class="subtitle" style="margin-top: 80px">
    Voici ta liste d'IA à battre, {{ name }}. Bonne chance !
</h1>

<progress class="progress" value="{{ characters|length }}" max="{{ charactersData|length }}"></progress>

<div>
    {% for key in charactersData %}
        {% if loop.index % 13 == 1 %}
        <div class="columns">
        {% endif %}

        <div class="column" style="min-width: 10px">
            <img class="cropped-profile"
                 {% if key|string in characters and characters[key|string].killed %}
                    style="filter: grayscale(100%)"
                 {% endif %}
                 src="{{ url_for('static', filename=charactersData[key].profile) }}">
        </div>

        {% if loop.index == ((loop.index/13)|int * 13) %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}