{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div>
    {% for key in charactersData %}
        {% if loop.index % 13 == 1 %}
        <div class="columns">
        {% endif %}

        <div class="column" style="min-width: 10px">
            <img class="cropped-profile"
                 {% if key|string in characters and characters[key|string].killed %}
                    style="filter: grayscale(100%)"
                 {% endif %}
                 src="{{ url_for('static', filename=charactersData[key].profile) }}">
        </div>

        {% if loop.index == ((loop.index/13)|int * 13) %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}